:root {
  --main-color: rgba(190, 192, 207, 0.89);
  --secondary-color: rgba(148, 152, 169, 0.89);
}

body {
  background-image: url("./img/chuttersnap-720485-unsplash.jpg");
  background-size: cover;
}

.App {
  text-align: center;
  padding-top: 3em;
  background-color: #272326a4;
  height: 100vh;
  letter-spacing: 0.1em;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  min-height: 70vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #272326a4;
  overflow: hidden;
  /* margin-bottom: 0.5em; */
  padding: 1.5em;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  /* padding: 0.3em 1em; */
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  font-size: 27px;
  display: flex;
  align-items: baseline;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--main-color);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--secondary-color);
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  margin-left: auto;
  display: flex;
  padding: 1.5em;
}

.naima-h1 {
  color: white;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1 {
  margin-bottom: 0;
}

textarea,
input {
  outline: none;
  margin-bottom: 2em;
  padding: 0.3em;
  background-color: darkgrey;
  color: white;
  border: none;
  border-color: transparent;
}

button {
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  background-color: var(--secondary-color);
  cursor: pointer;
}

h2,
h3,
h4,
h5 {
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.3em;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.form {
  max-width: 450px;
  text-align: center;
}

button[disabled] {
  opacity: 0.65;
  cursor: not-allowed;
}

.projects {
  text-align: left;
  max-width: 50%;
  margin: 0 auto;
}

label {
  margin-left: 0.3em;
}

.tools ul {
  width: auto;
}
.tools li {
  text-align: left;
  font-size: 0.8em;
}

.credit {
  bottom: 1em;
  font-size: 0.8em;
  color: white;
}

@media screen and (max-width: 600px) {
  p.hash {
    font-size: 0.8em;
  }
}

.transaction {
  border-collapse: collapse;
  font-size: 0.7em;
  max-width: 90vh;
  margin-bottom: 0.5em;
}

.transaction a {
  color: white;
}

.transaction td,
.transaction th {
  padding: 0.5em 0.4em;
  text-align: left;
}

.transaction tr:nth-child(even) {
  background-color: #7e7e7e;
}

.transaction tr:hover {
  background-color: #5b5b5b;
}

.transaction th {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  background-color: var(--main-color);
  color: white;
}
